.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px 25px 15px;
}
.sidebar img {
  width: 20px;
}
.sidebar .menuIcon {
  display: block;
  margin: 0 0 0 10px;
  cursor: pointer;
}
.sidebar .newChat {
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  color: #808080;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}
.sidebar .resent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
}
.resentName {
  font-size: 16px;
  margin: 30px 0 20px;
  font-weight: 500;
}
.resentEntry {
  display: flex;
  align-items: start;
  gap: 10px;
  font-size: 16px;
  padding: 10px 40px 10px 10px;
  color: #282828;
  border-radius: 50px;
  cursor: pointer;
}
.resentEntry:hover {
  background-color: #e2e6eb;
}
.sidebar .bottom {
  display: flex;
  flex-direction: column;
}
.sidebar .bottomItems {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px 40px 10px 10px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}
.sidebar .bottomItems:hover {
  background-color: #e2e6eb;
}
